<div class="row">

	<div class="col-md-6">
		<div class="challenge">
		<p class="challenge-description">Remember that image tag? Well let's revisit that real quick. This time we're going to be using three images to create a mini gallery of pictures. Go and grab some pictures of your favorite sport, videogame, or whatever you like! (remember you can google your image and copy the URL right into the form!)</p>
		
		<a class="links" href="https://www.w3schools.com/tags/tag_img.asp">W3schools definition and usage of < img > tags</a>

		</div>

		<%= form_for :image_one do |f| %>
			<p>< img ><%= f.text_field  :image_one, id: "answer4" %>< /img ></p>
			<button type="button">Submit Code!</button>
		<% end %>


		<%= form_for :image_two do |f| %>
			<%= f.text_field :image_two, id: "answer5" %>
			<button type="button">Submit Code!</button>
		<% end %>


		<%= form_for :image_three do |f| %>
			<%= f.text_field  :image_three, id: "answer6" %>
			<button type="button">Submit Code!</button>
			<%= f.submit "Next Challenge!" %>
			<a href="/challenge_five">Next Challenge</a>
		<% end %>


	</div>

	<div class="col-md-6">

		<div class="custom_background">
	

		<div class="profile_picture">

			<img class="profile-picture" src="">
		
			<h1 class="heading_tag">Domitrius Clark</h1>
	
			<p id="about"></p>
		<img src="" class="photo-1">
		<img src="" class="photo-2">
		<img src="" class="photo-3">


			<img src="" class="photo-1">
			<img src="" class="photo-2">
			<img src="" class="photo-3">
		</div>			
			</div>
		

			
=======
		</div>		
>>>>>>> 5bd73c2f0e536a72273079d09841f4e2f46b8e1c
	</div>
</div>
